// Plugin aliases - can be used to change the implementation of Zellij
// changing these requires a restart to take effect
plugins {
  tab-bar location="zellij:tab-bar"
  status-bar location="zellij:status-bar"
  strider location="zellij:strider"
  compact-bar location="zellij:compact-bar" {
    tooltip "F1" // choose a keybinding to toggle the hints
  }
  session-manager location="zellij:session-manager"
  welcome-screen location="zellij:session-manager" {
    welcome_screen true
  }
  filepicker location="zellij:strider" {
    cwd "/"
  }
  configuration location="zellij:configuration"
  plugin-manager location="zellij:plugin-manager"
  about location="zellij:about"
  zellij-loom location="https://github.com/drop-stones/zellij-loom/releases/latest/download/zellij-loom.wasm" {
    keybind_mode "vim"
  }
  zellij-hud location="https://github.com/drop-stones/zellij-hud/releases/latest/download/zellij-hud.wasm" {
    style "powerline"
    theme "tokyonight"
  }
  im-switch location="https://github.com/drop-stones/im-switch.zellij/releases/latest/download/im-switch.wasm" {
    default_im "keyboard-us"
  }
  zellij-dispatch location="https://github.com/drop-stones/zellij-dispatch/releases/latest/download/zellij-dispatch.wasm" {
    match_processes "nvim"
  }
}

load_plugins {
  "zellij-hud"
  "im-switch"
}
