// Choose what to do when zellij receives SIGTERM, SIGINT, SIGQUIT or SIGHUP
// eg. when terminal window with an active zellij session is closed
// (Requires restart)
// Options:
//   - detach (Default)
//   - quit
//
on_force_close "quit"

// Whether to show tips on startup
// Default: true
//
show_startup_tips false
